.image img {
    width: 100%;
    border: 1px solid #e1e1e1;
}

.item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-title {
    margin-bottom: 8px;
    font-size: 12px;
}

.item-detail {
    font-size: 14px;
}
