.result {
    color: #5d5d5d;
    margin-top: 20px;
}

.display {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    padding: 20px 0;
}